@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Fondo degradado sutil para dar profundidad */
    background-color: #EAE2B7; /* Fallback */
    background-image: linear-gradient(to top, #EAE2B7, #fcfbf5);
    
    /* Color de texto por defecto para un buen contraste */
    color: #003049;
  }
}
