@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #003049; /* Fallback color */
    color: #EAE2B7; /* Default text color for better contrast on dark bg */
    background: linear-gradient(315deg, #002235, #003049, #004a70);
    background-size: 400% 400%;
    animation: move-bg 15s ease-in-out infinite;
  }
}

@keyframes move-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Custom styles for main content to account for sidebar */
.main-content {
  margin-left: 0; /* Default for mobile */
  transition: margin-left 0.3s ease-in-out;
}

.header-layout {
  padding-left: 0; /* Default for mobile */
  transition: padding-left 0.3s ease-in-out;
}

@media (min-width: 768px) { /* md breakpoint */
  .main-content {
    margin-left: 5rem; /* Corresponds to w-20 of the sidebar */
  }

  .header-layout {
    padding-left: 5rem; /* Match sidebar width */
  }

  /* Adjust margin and padding when sidebar expands on hover */
  aside:hover ~ .header-layout {
    padding-left: 16rem; /* Corresponds to w-64 of the sidebar */
  }

  aside:hover ~ .main-content {
    margin-left: 16rem; /* Corresponds to w-64 of the sidebar */
  }
}